@import "cards";
@import "filter_selector";
@import "tags";
@import "controls";

body {
	width: 80%; // TODO: increase for small viewports?
	margin: 1em auto;
}

.placeholder { // for sortables
	opacity: 0.25;
}

.template {
	display: none;
}
