.tags {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0; // handled by individual tags
}

.tags > li {
	position: relative;
	display: inline-block;
	height: 2em;
	margin-left: 2em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 0.5em;
	line-height: 2em;
	text-align: right;
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2) inset;
	background-color: #EEE;

	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		height: 0;
		width: 0;
		margin-left: -3em;
		border: 1em solid white;
		border-right-color: #EEE;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0.75em; // parent height / 2 - self height / 2
		left: -0.25em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 1em;
		background-color: #FFF;
		box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3); // XXX: perspective does not match container's
	}
}
